html,
body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    min-width: 1200px;
}


/* ------ 全域 -------- */

p {
    color: #555;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
}

.wrapper {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}